[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dbt-bigquery = "==1.4.3"
pandas = "==1.5.2"
prefect = "==2.7.7"
prefect-gcp = {extras = ["cloud_storage"], version = "0.2.4"}
protobuf = "==4.21.11"
pyarrow = "==10.0.1"
pandas-gbq = "==0.18.1"
openpyxl = "==3.1.2"

[requires]
python_version = "3.9"
